<div class="container py-5">
  <h3>List Peminjaman</h3>

  <div class="table-responsive center2">
    <table class="table">
      <thead>
      <tr>
        <th>No#</th>
        <th>Judul Buku</th>
        <th>Tempat Pinjam</th>
        <th>Tanggal Pinjam</th>
        <th>Tanggal Kembali</th>
        <th>Status</th>
        <th>Denda</th>
        <th>Aksi</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Computer Architecture</td>
        <td>Informatika</td>
        <td>1 April 2018</td>
        <td>8 April 2018</td>
        <td>Sedang dipinjam</td>
        <td>0</td>

        <td>
          <button class="btn btn-primary" (click)="sendAlert()">Perpanjang</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
