<div *ngIf="book$ | async as book">
  <div class="container">
    <div class="py-5 text-center">
      <img src="{{book.imageUrl}}" style="height: 400px;">
      <br>
      <h2>History of Modern Architecture</h2>
      <p class="lead">Buku ini adalah buku yang membahas tentang arsitektur</p>
    </div>
    <div class="py-2 text-center">
      <button *ngIf="book.status == 'AVAILABLE'"
              class="btn btn-primary"
              routerLink="/peminjam/pinjam/{{book.id}}">
        Pinjam buku ini
      </button>
      <button *ngIf="book.statusReason" class="btn btn-danger disabled">{{book.statusReason}}</button>
    </div>
  </div>
</div>
