<div class="wrapper bgded overlay light"
     style="background-image:url('http://library.its.ac.id/asset/foto_statis//perpustakaan_ITS.jpg');">
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">Inter Library Loan</h3>
      <p>Institut Teknologi Sepuluh Nopember</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="auth/masuk">Masuk</a></li>
          <li><a class="btn inverse" href="auth/daftar">Daftar</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
