<div>
  <h3>Ruang Baca Teknik Informatika</h3>
  <div class="container">
    <div class="row py-5">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="denda">Denda per Hari</label>
            <input type="text" class="form-control" id="denda" required>
          </div>
          <div class="col-md-7 mb-3">
            <label for="maks-pinjam">Maksimal Waktu Pinjam</label>
            <input type="text" class="form-control" id="maks-pinjam" required>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Simpan</button>
      </div>
    </div>
  </div>
</div>

