<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="peminjam" class="navbar-brand d-flex align-items-center">
        <strong style="margin-right: 5px;">Inter-Library Loan ITS</strong>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="peminjam/riwayat" style="color: white;">Riwayat Pinjam</a></li>
      </ul>
    </div>
  </div>
</header>
<main role="main">
  <router-outlet></router-outlet>
</main>
<footer class="my-5 pt-5 text-muted text-center text-small">
  <p>&copy; ILL ITS</p>
  <p>Frieda - Rio - Irsyad</p>
</footer>
